body{
  background-image: url(b5.jpg);
  background-color: #cccccc;
  background-attachment: fixed;
  background-size: cover;
  color: #502929;

}
/* ----------Student info, links to other pages---------- */
div.header{
  width: 50%;
  border: 10px solid #d4ccb1;
  padding: 10px;
  margin: auto;
  background: #d4ccb1;
  margin-top: 20px;
}

div.person_info{

}

img.person_image{

}

#nameSound25{

}

div.nameSound25{

}

span.username{

}

div.nav{

}
/* ---------------------------------------- */
/* ----------Home Page---------- */
h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: auto;
    width: 50%;
    padding: 10px;
}
/* ---------------------------------------- */
/* ----------Preperation Section---------- */
div.day-box.PREP{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: auto;
    width: 50%
    padding: 10px;
    background: #d4ccb1;
    margin-top: 20px;
    border: 5px solid #d4ccb1;
    border-radius:25px;
    border-image-source: url(border3.png);
    border-width: 30px;
    border-image-slice: 40%;
    border-image-outset: 7.4px;
    border-image-repeat: round;
    border-radius: 25px;
  
}

div.day{

}

div.notes{

}

div.reading-box{

}

div.reading{

}

div.assignment-label{

}

div.prep-box{

}

div.assignment_link{

}

div.lab-box{
}

/* ---------------------------------------- */
/* ----------Current Section---------- */
div.day-box.CURRENT{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: auto;
    width: 50%;
    border: 5px solid #d4ccb1;
    padding: 10px;
    background: #d4ccb1;
    margin-top: 20px;
}

div.assignmentWidget.GRADING{

}

div.day-box.COMPLETED{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: auto;
    width: 50%;
    border: 5px solid #d4ccb1;
    padding: 10px;
}

div.grade{
\
}
