body{
  background-image: url("bg.jpg");
  background-color: #cccccc;

}
/* ----------Student info, links to other pages---------- */
div.header{
  border-style: solid;
  border-color: black;
  width: 500px;
}

div.person_info{

}

img.person_image{

}

#nameSound25{

}

div.nameSound25{

}

span.username{

}

div.nav{

}
/* ---------------------------------------- */
/* ----------Home Page---------- */
h1{
  border-style: solid;
  border-color: black;
  width: 500px;
}
/* ---------------------------------------- */
/* ----------Preperation Section---------- */
div.day-box.PREP{
  border-style: solid;
  border-color: black;
  font-family: 'Comfortaa', cursive;
  width: 500px;
}

div.day{

}

div.notes{

}

div.reading-box{

}

div.reading{

}

div.assignment-label{

}

div.prep-box{

}

div.assignment_link{

}

div.lab-box{
}

/* ---------------------------------------- */
/* ----------Current Section---------- */
div.day-box.CURRENT{
  border-style: solid;
  border-color: black;
  font-family: 'Comfortaa', cursive;
  width: 500px;
}

div.assignmentWidget.GRADING{

}

div.day-box.COMPLETED{
  border-style: solid;
  border-color: black;
  font-family: 'Comfortaa', cursive;
  width: 500px;
}

div.grade{
\
}
