body{
  background-image: url(b5.jpg);
  background-color: #cccccc;
  background-attachment: fixed;
  background-size: cover;
  color: #502929;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size:18px;

}
/* ----------Student info, links to other pages---------- */
.header{
  width: 180px;
  height: 380px;
  position: fixed;
  z-index: 1;
  top: 250px;
  left: 10px;
  background: rgb(146, 34, 28);
  overflow-x: hidden;
}

.person_info{
  background: #a78167;
  height: 120px;
}

img.person_image{
  border: 5px solid #443028;
  width: 110px;
  height: 80px;
}

#nameSound25{

}

.nameSound25{

}

span.username{
  padding: 8px 8px 8px 2px;
  /* text-decoration: underline; */
  font-size: 20px;
  font-weight: bold;
  color: #443028;
}

.nav a{
  padding: 10px 10px 10px 10px;
  text-decoration: underline;
  font-size: 25px;
  color: #ead6bd;
  display: block;
  transition: 0.3s;
}

.nav a:hover {
  color: #d6cebe;
}
/* ---------------------------------------- */
/* ----------Home Page---------- */
h1{
    margin: auto;
    background-color: #d2d2d2d6;
    text-align: center;
    width: 30%;
    line-height: 68px;
    font-family: cursive;
}
/* ---------------------------------------- */
/* ----------Preperation Section---------- */
.day-box.PREP{
    margin: auto;
    width: 40%;
    padding: 5px;
    background: #ffffff;
    margin-top: 20px;
    border: 5px solid #dccdb1d1;
    border-image: url(border5.png) 78 67 73 round;
    border-width: 64px;
}

.day{
  background-color: #e9d6ba;
}

.reading-box{
  background-color: #cea36d;
}

.grading-box{
  background-color:black;
}

.prep-box{
  background-color: #6f8faf;
}

.assignment_link{
  color: #92211c;
}

.lab-box{
  background-color: #c77a61;
}

/* ---------------------------------------- */
/* ----------Current Section---------- */
.day-box.CURRENT{
    margin: auto;
    width: 40%;
    padding: 5px;
    background: #ffffff;
    margin-top: 20px;
    border: 5px solid #dccdb1d1;
    border-image-source: url(border7.png);
    border-width: 40px;
    border-image-slice: 30%;
    border-image-repeat: round;
    border-radius: 22px;
}

.assignmentWidget.GRADING{

}

.day-box.COMPLETED{
    margin: auto;
    width: 40%;
    padding: 5px;
    background: #ffffff;
    margin-top: 20px;
    border: 5px solid #dccdb1d1;
    border-image: url(border10.png) 75 129 112 63 round;
    border-width: 80px 66px 91px;
}

.grade{
  
}
