body{
  background-image: url(b5.jpg);
  background-color: #cccccc;
  background-attachment: fixed;
  background-size: cover;
  color: #502929;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size:18px;

}
/* ----------Student info, links to other pages---------- */
.header{
  width: 180px;
  height: 380px;
  position: fixed;
  z-index: 1;
  top: 250px;
  left: 10px;
  background: rgb(146, 34, 28);
  overflow-x: hidden;
}

.person_info{
  background: #997467;
  height: 120px;
}

img.person_image{
  border: 5px solid #443028;
  width: 110px;
  height: 80px;
}

#nameSound25{

}

.nameSound25{

}

span.username{
  padding: 8px 8px 8px 2px;
  /* text-decoration: underline; */
  font-size: 20px;
  font-weight: bold;
  color: #f3e5e0;
}

.nav a{
  padding: 10px 10px 10px 10px;
  text-decoration: underline;
  font-size: 25px;
  color: #ead6bd;
  display: block;
  transition: 0.3s;
}

.nav a:hover{
  color: #502929;
}
/* ---------------------------------------- */
/* ----------Home Page---------- */
h1{
    margin: auto;
    background-color: #d2d2d2d6;
    text-align: center;
    width: 30%;
    line-height: 68px;
    font-family: cursive;
}
/* ---------------------------------------- */
/* ----------Preperation Section---------- */
.day-box.PREP{
    margin: auto;
    width: 40%;
    background: #ffffff;
    margin-top: 20px;
    border: 0px solid #dccdb1d1;
    border-image: url(border11.png) 77 round;
    border-width: 64px;
}

.day-box.PREP a{
    text-decoration: underline;
    transition: 0.3s;
}

.day-box.PREP a:hover{
  color: #92211c;
}
/* ---------------------------------------- */
/* ----------Current Section---------- */
.day-box.CURRENT{
    margin: auto;
    width: 40%;
    background: #ffffff;
    margin-top: 20px;
    border: 5px solid #dccdb1d1;
    border-image: url(border9.png) 46 45 46 round;
    border-width: 64px;
}

.day-box.CURRENT a{
    text-decoration: underline;
    transition: 0.3s;
}

.day-box.CURRENT a:hover{
  color: #92211c;
}
/* ---------------------------------------- */
/* ----------Completed Section---------- */
.day-box.COMPLETED{
    margin: auto;
    width: 40%;
    background: #ffffff;
    margin-top: 20px;
    border: 5px solid #dccdb1d1;
    border-image: url(border5.png) 96 68 67 80 round;
    border-width: 64px;    
}

.day-box.COMPLETED a{
    text-decoration: underline;
    transition: 0.3s;
}

.day-box.COMPLETED a:hover{
  color: #92211c;
}

.day{
  background-color: #f1e2d9;
  padding: 10px;
  font-style:italic;
}

.reading-box{
  background-color: #cc884480;
  padding: 10px;
}

.grading-box{
  background-color: #c13f33a8;
  padding: 10px;
}

.prep-box{
  background-color: #be4e338f;
  padding: 10px;
}

.assignment_link{
  color: #502929;
}

.lab-box{
  background-color: #dc715b;
  padding: 10px;
}

.assignment-label{
  font-weight:bold;
}

/* ---------------------------------------- */
/* ----------Seating Section---------- */
table{
  margin: 0px auto;
}
